/*=========================================================================================*/
/*
Nombre archivo: estilos.css
Autor: Juan Ferrera Sala
Fecha: 18/04/2022
*/
@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');
*{
    box-sizing:border-box;
    font-family: 'Overpass', sans-serif;
}
/*=========================================================================================*/
/*Body*/
/*=========================================================================================*/
body{
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	background: white; 
	line-height: 1.5em;
}
.contenedor{
    padding: 2rem;
}
.header{
    background:rgb(50, 50, 50);
    display: flex;
    height: 12.5vh;
}
.contenedorEnlaces{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 95%;
}
/*=========================================================================================*/
/*Logo header*/
/*=========================================================================================*/
header .linkLogo{
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.logo-header{
	text-decoration: none;
    height: 3.5rem;
    width: 3.5rem;
    background-color:#f28500;
}
.logo-header:hover {
	color: #f28500;
}
/*=========================================================================================*/
/*Nav*/
/*=========================================================================================*/
.nav{
    margin-left: 3rem;
    border-left: 3px white solid;
    height: 2.5rem;
    display: flex;
    align-items: center;
}
nav ul{
    margin: 0;
	padding: 0;
	list-style: none;
	padding-right: 20px;
    margin-left: 2rem;
}
nav ul li{
    display: inline-block;
}
nav ul li a {
    display: block;
	padding: 0 10px;
	text-decoration: none;
    color: #f28500;
    border-radius: 8px;
    align-items: center;
}
nav ul li a:hover {
    color: white;
    font-weight: bold;
}
/*=========================================================================================*/
/*Boton*/
/*=========================================================================================*/
button{
    width: 17rem;
    height: 2.5rem;
    background: #f28500; /* color de fondo */
    color: #fff; /* color de fuente */
    border: 2px solid #f28500; /* tamaño y color de borde */
    padding: 0px;
    border-radius: 8px; /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    font-size: 20px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    
  }
  button:before, button:after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: -50%;
    background-color: #fff; /* color de fondo hover */
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  button:after {
    left: 100%;
  }
  button:hover {
    color: #f28500; /* color de fuente hover */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  button:hover:before {
    left: 0;
  }
  button:hover:after {
    left: 50%;
  }
/*=========================================================================================*/
/*Contenedores*/
/*=========================================================================================*/
.contenedorMain{
    height: 80.5vh;
    padding: 3rem;
    display: flex;
    flex-direction: column;
}
.contenedorColumna{
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: space-between;
}
.contenedorConsola{
    width: 60%;
}
.consola{
    background-color: rgb(242, 242, 242);
    height: 20rem;
}
.contenedorVerificar{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items:center;
}
/*=========================================================================================*/
/*footer*/
/*=========================================================================================*/
footer{
    background:rgb(242, 242, 242);
    display: flex;
    justify-content: space-between;
    align-items: center;
    display:flex;
    justify-content: start;
    flex-basis: 80%;
    color: black;
}

footer .linkLogo{
    margin-left: 2rem;
    margin-top: 0.5rem;
}
.contenedorFooter{
    margin-left: 3rem;
    border-left: 3px black solid;
}
.nombreEmpresa{
    margin-left: 2rem;
}
